* {
  /* border box prevents border adding 5px */
  box-sizing: border-box;
}

#app_container {
  display: flex;
  /*viewport height*/
  height: 100vh;
  /*viewport width*/
  width: 100vw;
  flex-direction: column;
}

#nav_container {
  background-color: lightblue;
  width: 100vw;
}

#nav_container ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.my_counter {
  color: red;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

#counter {
  height: 100%;
  display: flex;
  justify-content: center;
  font-size: 100px;
}